In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [18]:
# Question 1
from statistics import * # importing all the statistics modules
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)
ages.sort() #To sort the list
print(f"The sorted list: {ages}")
minimum = ages[0]
maximum = ages[-1]
ages.insert(0,min)
ages.insert(len(ages)-1,max)
print(f"The list after adding the min and max: {ages}")
print(f"Median: {median(ages)}")
print(f"Average age: {mean(ages)}")
print(f"Range: {maximum-minimum}")

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
The sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The list after adding the min and max: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median: 24.0
Average age: 22.75
Range: 7

In [26]:
# Question 2

dog = {}

dog["name"] = "Buddy"
dog["color"] = "Golden"
dog["breed"] = "Retriever"
dog["legs"] = 4
dog["age"] = 3

student = {
    "first_name": "Niki",
    "last_name": "Joe",
    "gender": "Female",
    "age": 60,
    "marital_status": "Single",
    "skills": ["Math", "Painting"],
    "country": "East Africa",
    "city": "Uganda",
    "address": "420 Main St"
}

student_length = len(student)
print("Length of dictionary:", student_length)

skills_value = student["skills"]
skills_data_type = type(skills_value)
print("Skills data type:", skills_data_type)

student["skills"].extend(["Conversation", "Leadership"])
print("Updated skills:", student["skills"])

dictionary_keys = list(student.keys())
dictionary_values = list(student.values())

print("Dictionary keys:", dictionary_keys)
print("Dictionary values:", dictionary_values)

Length of dictionary: 9
Skills data type: <class 'list'>
Updated skills: ['Math', 'Painting', 'Conversation', 'Leadership']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['Niki', 'Joe', 'Female', 60, 'Single', ['Math', 'Painting', 'Conversation', 'Leadership'], 'East Africa', 'Uganda', '420 Main St']

In [7]:
#Question 3

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

length_it_companies = len(it_companies)
print(f"The length of the set it_companies: {length_it_companies}");
it_companies.add('Twitter')

it_companies = it_companies | {'IntelliCore','Cisco'}
print(f"Updated set it_companies: {it_companies}")

it_companies.remove('Cisco')
print(f"Set after Removing one element: {it_companies}")

# The only difference between remove(element) and discard(element) is that remove() will give you an error if the passed element is not in the set
# and discard() function will not give you an error.

AandB = A.union(B)
print(f"Join A and B: {AandB}")

print(f"A intersection B: {A.intersection(B)}")

print(f"Is A subset of B? {A.issubset(B)}")

print(f"Are A and B disjoint sets? {A.isdisjoint(B)}")

print(f"Join A with B: {AandB}")
BandA = B.union(A)
print(f"Join B with A: {BandA}")

symdiff = A.symmetric_difference(B)
print(f"The symmetric difference between A and B {symdiff}")

#The question says delete the sets completely, i assume it is A and B
A.clear()
B.clear()

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
set_ages = set(ages)
list_length = len(ages)
set_length = len(set_ages)

if list_length > set_length:
    print("The list is longer than the set.")
elif list_length < set_length:
    print("The set is longer than the list.")
else:
    print("The list and the set are the same length.")

The length of the set it_companies: 7
Updated set it_companies: {'Google', 'Apple', 'Amazon', 'Facebook', 'Cisco', 'IBM', 'Twitter', 'Oracle', 'Microsoft', 'IntelliCore'}
Set after Removing one element: {'Google', 'Apple', 'Amazon', 'Facebook', 'IBM', 'Twitter', 'Oracle', 'Microsoft', 'IntelliCore'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint sets? False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
The symmetric difference between A and B {27, 28}
The list is longer than the set.

In [23]:
# Question 4

class Employee:
  total_employees = 0

  def __init__(my, name, family, salary, department):
    my.name = name
    my.family = family
    my.salary = salary
    my.department = department
    Employee.total_employees += 1

  @classmethod
  def average_salary(cls, employees):
      total_salary = sum(emp.salary for emp in employees)
      return total_salary / len(employees) if len(employees) > 0 else 0

class FulltimeEmployee (Employee):
  def __init__(my,name,family,salary,department):
    super().__init__(name,family,salary,department)

# Create instances of employee class
employee1 = Employee("Joe Mama", "Has 2 children", 6000000000, "Computer Science")
employee2 = Employee("Big Chungus", "Father of 7 children", 200000, "HR")
employee3 = Employee("Michael Jackson", "Single", 5000, "Business")

# Create instances of FulltimeEmployee class
fulltime_employee1 = FulltimeEmployee("Lebron James", "Single", 800000, "Designing")
fulltime_employee2 = FulltimeEmployee("Barack Obama", "father of 2 children", 7000000, "Sales")

# Call member functions
employees = [employee1, employee2, employee3, fulltime_employee1, fulltime_employee2]

print("Total employees:", Employee.total_employees)
print("Average salary:", Employee.average_salary(employees))

Total employees: 5
Average salary: 1201601000.0